.global-form {
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
}

.global-form img {
  width: 50vw;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
