.navbar {
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  align-items: center;
  background: #0b345d;
  background-image: linear-gradient(
    155deg,
    var(--deepblue) 0%,
    #2a4f96 50%,
    var(--blue) 100%
  );
}

.logo {
  font-family: "Pacifico", cursive;
  color: var(--deeporange);
  font-size: 28px;
  filter: drop-shadow(1px 1px 3px white);
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.navlink svg {
  color: white;
  filter: drop-shadow(1px 1px 1px var(--deepblue));
}

.navbar a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 793px) {
  .icon {
    display: none;
  }

  .navbar p {
    padding-right: 2rem;
  }
}

@media screen and (max-width: 793px) {
  .navlink p,
  .search-bar {
    display: none;
  }

  .icon {
    padding-right: 2rem;
  }
  .navlink svg {
    color: white;
    filter: drop-shadow(1px 1px 1px var(--deepblue));
  }
}
