@media screen and (max-width: 792px) {
  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .navbar p,
  .search-bar {
    display: none;
  }

  .navbar svg {
    width: 20vw;
    height: 7vh;
  }
}

@media screen and (min-width: 793px) {
  .icon {
    display: none;
  }
}

.navbar {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  background: #0b345d;
  background-image: linear-gradient(
    155deg,
    var(--deepblue) 0%,
    #2a4f96 50%,
    var(--blue) 100%
  );
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.navbar svg {
  color: white;
  filter: drop-shadow(1px 1px 1px var(--deepblue));
}

.navbar a {
  color: white;
}

.navbar .selected {
  color: var(--blue);
  text-decoration: none;
}

.navbar .selected svg {
  color: var(--blue);
}
